<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">false</property>
    <property name="use_outer_join">true</property>
    <property name="jdbc.use_scrollable_resultset">false</property>
    <property name="dbcp.defaultAutoCommit">false</property>
    <property name="dbcp.maxTotal">50</property>
    <property name="dbcp.maxIdle">5</property>
    <property name="dbcp.maxWaitMillis">30000</property>
    <property name="connection.provider_class">com.xpn.xwiki.store.DBCPConnectionProvider</property>


    <property name="connection.url">jdbc:mysql://MYSQL_HOST/xwiki</property>
    <property name="connection.username">MYSQL_USER</property>
    <property name="connection.password">MYSQL_PASSWORD</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="dbcp.poolPreparedStatements">true</property>
    <property name="dbcp.maxOpenPreparedStatements">20</property>
    <mapping resource="xwiki.hbm.xml"/>
    <mapping resource="feeds.hbm.xml"/>
    <mapping resource="activitystream.hbm.xml"/>
    <mapping resource="instance.hbm.xml"/>
    <mapping resource="mailsender.hbm.xml"/>
  </session-factory>
</hibernate-configuration>

